<nav class="navbar">
    <li style="font-family: Georgia, 'Times New Roman', Times, serif ; color:indigo;"><a routerLink="../admin">Home</a></li>
    <!-- <li><a routerLink="../employee">Employee</a></li>
    <li><a routerLink="../project">Project</a></li>
    <li><a routerLink="../leave">Leave Requests</a></li>
    <li><a routerLink="../attendance">Attendance</a></li>
    <li><a routerLink="../viewemployee">View Employees</a></li> -->
  
    <li style="font-family: Georgia, 'Times New Roman', Times, serif ; color:indigo;" id="logout"><a routerLink="../login">Log Out</a></li>
  </nav>
  <nav>
    <label for="touch_viewapplied"><span>View Leaves</span></label> 
    <input type="checkbox" id="touch_viewapplied">
    <ul class="slide">
      
    <label for="Empid">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Employee ID&nbsp;&nbsp;</label>
    <input [(ngModel)]="eid" type="text" id="empid" name="empid" required>
    <br>
    <br>
    <button (click)="GetLeaves()" type="submit" >Get Leaves</button>
      <h5 style="color: coral;">{{this.msg}}</h5>
      <table align="center">
        <tr>
        <th>LeaveId</th>
        <th> Leave Start Date</th>
        <th> Leave End Date</th>
        <th>Status</th>
        </tr>
        <tr *ngFor="let item of Leavelist">
        <td>{{item.LeaveId}}</td>
        <td>{{item.LeaveStartDate | date}}</td>
        <td>{{item.LeaveEndDate | date}}</td>
        <td>{{item.LeaveStatus}}</td>
        </tr>
      </table>
    </ul>
  </nav>   