<nav class="navbar">
    <li style="font-family: Georgia, 'Times New Roman', Times, serif ; color:indigo;"><a routerLink="../employeehome">Home</a></li>
    <!-- <li><a routerLink="../employee">Employee</a></li>
    <li><a routerLink="../project">Project</a></li>
    <li><a routerLink="../leave">Leave Requests</a></li>
    <li><a routerLink="../attendance">Attendance</a></li>
    <li><a routerLink="../viewemployee">View Employees</a></li> -->

    <li style="font-family: Georgia, 'Times New Roman', Times, serif ; color:indigo;" id="logout"><a routerLink="../login">Log Out</a></li>
</nav>
<nav style="padding: 20px 0px 0px 0px;">
  
    <label for="touch_AddAttendance"><span>Add Attendance</span></label>               
    <input type="checkbox" id="touch_AddAttendance"> 
  
    <ul class="slide">
      <form #form ngNativeValidate>
        <label for="AttendanceDate">Attendance date :</label>
        <input [(ngModel)]="adate" type="date"  id="AttendanceDate" name="attendancedate" required>
        <br>
        <br>
        <label for="Attendance">Select Attendance:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <select [(ngModel)]="acheck" name="attendance" id="attendance" required>
        <option value="present">Present</option>
        <option value="absent">Absent</option>
        </select>
        <br>
        <br>
        <button (click)="AddAttendance()"type="button">Send Attendance</button>
        <br>
        <i class="alertmsg" [innerHTML]="errmsg"></i>
      </form>
    </ul>
  </nav>
  <hr>
  <!-- ************************************************ -->
  <nav>
  
    <label for="touch_DeleteAttendance"><span>Remove Attendance</span></label>               
    <input type="checkbox" id="touch_DeleteAttendance"> 
  
    <ul class="slide">
      <form ngNativeValidate>
        <label for="aId">Attendance ID</label>
          <input [(ngModel)]="aid" type="text" id="aId" name="aId" value="" required>
          <br>
          <br>
        
          <button (click)="DeleteAttendance()" type="button">Delete Attendance</button>
          <br>
          <i class="alertmsg" [innerHTML]="errmsgremove"></i>
       
     </form>
      
    </ul>
  
  </nav> 
  <!-- ******************************************************* -->
  
  <hr>
  <nav>
  
    <label for="touch_UpdateAttendance"><span>Update Attendance</span></label>               
    <input type="checkbox" id="touch_UpdateAttendance"> 
  
    <ul class="slide">
      <form ngNativeValidate>
        <label for="AttendanceDate">Attendance date :</label>
        <input [(ngModel)]="adate" type="date" id="attendancedate" name="attendancedate" required>
        <br>
        <br>
        <label for="AttendanceCheck">Select Attendance:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <select [(ngModel)]="acheck" name="attendance" id="attendance" required>
        <option value="present">Present</option>
        <option value="absent">Absent</option>
        </select>
        <br>
        <br>
        <button (click)="UpdateAttendance()" type="button">Update Attendance</button>
        <br>
        <i class="alertmsg" [innerHTML]="errmsgupdate"></i>
     </form>
     
    </ul>
  </nav>
  <hr>
  <!-- <nav style="padding: 20px 0px 0px 0px;">
    <label for="touch_viewbydate"><span>View Attendance By Date</span></label> 
    <input type="checkbox" id="touch_viewbydate">
    <ul class="slide">
        <form #form ngNativeValidate>
            <label >EmployeeID:</label>
            <input [(ngModel)] = "eid"  type="text" id="empid" name="empid" required><br><br>
            
            <label >Date:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input [(ngModel)] = "adate" type="date" id="date" name="date"  required><br><br>
          
            
            <button (click)="GetAttendanceByDate()" type="submit">View Attendance</button>
            <h5 style="color: coral;">{{this.msg2}}</h5>
           </form>
            <table align="center">
            <tr>
            <th>EmployeeID</th>
            <th>Attendance Date</th>
            <th>Attendance Status</th>
            </tr>
            <tr>
              <td>{{a.EmployeeId}}</td>
              <td>{{a.AttendanceDate | date}}</td>
              <td>{{a.AttendanceCheck}}</td>
              </tr>
          </table>
    </ul>
  </nav> 
  <hr> -->
  <nav style="padding: 20px 0px 0px 0px;">
    <label for="touch_viewbymonth"><span>View Attendance By Month</span></label> 
    <input type="checkbox" id="touch_viewbymonth">
    <ul class="slide">
        <form #form ngNativeValidate>
            
            <label >Month:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input [(ngModel)] = "mon" type="mon" id="mon" name="mon"  required><br><br>
            <label >Year:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input [(ngModel)] = "yr" type="year" id="year" name="year"  required><br><br>
          
            
            <button (click)="GetAttendanceByMonth()" type="submit">View Attendance</button>
            <h5 style="color: coral;">{{this.msg3}}</h5>
          </form>
      <table align="center">
            <tr>
              <th>AttendanceID</th>
              <th>EmployeeID</th>
              <th>Attendance Date</th>
              <th>Attendance Status</th>
            </tr>
            <tr *ngFor="let item of a3">
              <td>{{item.AttendanceId}}</td>
            <td>{{item.EmployeeId}}</td>
            <td>{{item.AttendanceDate | date}}</td>
            <td>{{item.AttendanceCheck }}</td>
            </tr>
          </table>
    </ul>
  </nav> 
  <hr>
  <!-- ************************************************ -->
  <nav style="padding: 20px 0px 0px 0px;">
    <label for="touch_viewbyyear"><span>View Attendance By Year</span></label> 
    <input type="checkbox" id="touch_viewbyyear">
    <ul class="slide">
            <form #form ngNativeValidate>
              
              <label >Year:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input [(ngModel)] = "yr" type="yer" id="yer" name="yer"  required><br><br>
            
              
              <button (click)="GetAttendanceByYear()" type="submit">View Attendance</button>
              <h5 style="color: coral;">{{this.msg4}}</h5>
            </form>
        <table align="center">
            <tr>
              <th>AttendanceID</th>
              <th>EmployeeID</th>
              <th>Attendance Date</th>
              <th>Attendance Status</th>
            </tr>
            <tr *ngFor="let item of a4">
              <td>{{item.AttendanceId}}</td>
            <td>{{item.EmployeeId}}</td>
            <td>{{item.AttendanceDate | date}}</td>
            <td>{{item.AttendanceCheck }}</td>
            </tr>
          </table>
    </ul>
  </nav>  
  <!-- ******************************************************* -->
  <hr>
  <nav>
    <label for="touch_viewpending"><span>View Pending Attendance</span></label> 
    <input type="checkbox" id="touch_viewpending">
    <ul class="slide">
        <h5 style="color: coral;">{{this.msg5}}</h5>
      <table align="center">
        <tr>
          <th>Pending Attendance Date</th>
        </tr>
        <tr *ngFor="let item of a2">
        <td>{{item |date}}</td>
        </tr>
      </table>
    </ul>
  </nav>  
  <!-- ******************************************************* -->
  <hr>
  