<nav class="navbar">
  <!-- <li><a routerLink="../employee">Employee</a></li>
  <li><a routerLink="../project">Project</a></li>
  <li><a routerLink="../leave">Leave Requests</a></li>
  <li><a routerLink="../attendance">Attendance</a></li>
  <li><a routerLink="../viewemployee">View Employees</a></li> -->

  <li id="logout"><a routerLink="../login">Log Out</a></li>
  <!-- <h5 style="font-family:'Courier New', Courier, monospace; color: indigo;">Employee Id:{{eid}}</h5> -->
</nav>
<!-- ************************************************** -->
<nav>
  <h2 style="font-variant: small-caps; color:indigo;" >Choose Your Action</h2>
</nav>
 
<nav class="navbar">
  <li style="font-family: Georgia, 'Times New Roman', Times, serif ; color:indigo;font-size: larger;"><a routerLink="../attendance">Attendance</a></li>
  <li style="font-family: Georgia, 'Times New Roman', Times, serif ; color:indigo;font-size: larger;"><a routerLink="../leave">Leave Requests</a></li>
</nav>


