<nav class="navbar">
  <li style="font-family: Georgia, 'Times New Roman', Times, serif ; color:indigo;"><a routerLink="../employeehome">Home</a></li>
  <!-- <li><a routerLink="../employee">Employee</a></li>
  <li><a routerLink="../project">Project</a></li>
  <li><a routerLink="../leave">Leave Requests</a></li>
  <li><a routerLink="../attendance">Attendance</a></li>
  <li><a routerLink="../viewemployee">View Employees</a></li> -->

  <li style="font-family: Georgia, 'Times New Roman', Times, serif ; color:indigo;" id="logout"><a routerLink="../login">Log Out</a></li>
</nav>
<nav style="padding: 20px 0px 0px 0px;">

  <label for="touch_AddLeave"><span>Request Leave</span></label>               
  <input type="checkbox" id="touch_AddLeave"> 

  <ul class="slide">
    <form #form ngNativeValidate>
      <!-- <label for="Empid">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Employee ID&nbsp;&nbsp;</label>
           <input [(ngModel)]="eid" type="text" id="empid" name="empid"> -->
           <label for="ProjectId">Project Id:</label>
           &nbsp;&nbsp;&nbsp;&nbsp;
           <input [(ngModel)]="pid" type="number" id="projid" name="projid" required>
           <br>
           <br>
           <label for="Startdate">Start (Date):</label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <input [(ngModel)]="lstart" type="date" id="startdaytime" name="startdaytime" min="2022-05-08" required>
           <br>
           <br>
           <label for="Enddate">End  (Date):</label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <input [(ngModel)]="lend" type="date" id="enddaytime" name="enddaytime" min="{{lstart}}" required>
           <br>
           <br>
           <button (click)="AddLeave()" type="button" >Send Leave Request</button>
           <br>
        <i class="alertmsg" [innerHTML]="errmsg3"></i>
    </form>
  </ul>
</nav>
<hr>
<!-- ************************************************ -->
<nav>

  <label for="touch_RemoveLeave"><span>Remove Leave</span></label>               
  <input type="checkbox" id="touch_RemoveLeave"> 

  <ul class="slide">
    <form ngNativeValidate>
      <label for="Empid">Leave  ID :</label>&nbsp;&nbsp;&nbsp;
           <input [(ngModel)]="lid" type="text" id="lid" name="lid" required>
           <br>
           <br>
           <button (click)="RemoveLeave()" type="button" >Delete Leave Request</button>
           <br>
           <i class="alertmsg" [innerHTML]="errmsg2"></i>
   </form>
  </ul>
</nav> 
<!-- ******************************************************* -->
<hr>
<nav>

  <label for="touch_UpdateLeave"><span>Update Leave</span></label>               
  <input type="checkbox" id="touch_UpdateLeave"> 

  <ul class="slide">
    <form ngNativeValidate>
      <label for="Leaveid">Leave  ID:</label>
      &nbsp;&nbsp;&nbsp;&nbsp;
           <input [(ngModel)]="lid" type="text" id="lid" name="lid" required>
            <br>
            <br>
           <label for="Startdate">Start (Date):</label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <input [(ngModel)]="lstart"  type="date" id="startdaytime" name="startdaytime" min="2022-05-08" required>
           <br>
           <br>
           <label for="Enddate">End  (Date):</label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input [(ngModel)]="lend" type="date" id="enddaytime" name="enddaytime" min="{{lstart}}" required>
            <br>
           <br>
           <button (click)="UpdateLeave()" type="button">Update Leave Request</button>
           <br>
        <i class="alertmsg" [innerHTML]="errmsg"></i>
   </form>
  </ul>
</nav>
<hr>
<nav>
  <label for="touch_viewleavepending"><span>View Pending Leave Request</span></label> 
  <input type="checkbox" id="touch_viewleavepending">
  
  <ul class="slide">
    <h5 style="color: coral;">{{this.msg}}</h5>
    <table align="center">
      <tr>
      <th>LeaveId</th>
      <th> Leave Start Date</th>
      <th> Leave End Date</th>
      <th>Status</th>
      </tr>
      <tr *ngFor="let item of Leavelist">
      <td>{{item.LeaveId}}</td>
      <td>{{item.LeaveStartDate | date}}</td>
      <td>{{item.LeaveEndDate | date}}</td>
      <td>{{item.LeaveStatus}}</td>
      </tr>
    </table>
  </ul>
</nav> 
<!-- <nav>
  <label for="touch_viewleave"><span>View Leaves Applied</span></label> 
  <input type="checkbox" id="touch_viewleave">
  
  <ul class="slide">
    <h5 style="color: coral;">{{this.msg}}</h5>
    <table align="center">
      <tr>
      <th>LeaveId</th>
      <th> Leave Start Date</th>
      <th> Leave End Date</th>
      <th>Status</th>
      </tr>
      <tr *ngFor="let item of Leavelist">
      <td>{{item.LeaveId}}</td>
      <td>{{item.LeaveStartDate | date}}</td>
      <td>{{item.LeaveEndDate | date}}</td>
      <td>{{item.LeaveStatus}}</td>
      </tr>
    </table>
  </ul>
</nav>  -->